<div class="padding">
  <div class="center-align middle-align">
    <div class="padding">

      <article>
        {% image class="responsive large" url=site.data.profile.image alt=site.data.profile.name height=200 width=200 %}
        <div class="padding">
          <h4>{{ site.data.profile.name }}</h4>
          <h5>{{ site.data.profile.occupation }}</h5>
          <p>{{ site.data.profile.location }}</p>
          {% if site.data.profile.links.size > 0 %}
            <nav class="center-align">
              {% for link in site.data.profile.links %}
                <a
                  class="button transparent circle"
                  href="{{ link.url }}"
                  target="_blank"
                  rel="noopener noreferrer">
                  <img src="{{ link.image }}" alt="{{ link.title }}" />
                </a>
              {% endfor %}
            </nav>
          {% endif %}

        </div>
      </article>


    </div>


  </div>

  <div class="grid padding">
    {% for tech in site.data.profile.tech_stack %}
      <div class="s12 m6 l3">
        <article>
          <div class="grid no-space center-align middle-align">
            <div class="s4">
              {% image url=tech.image alt=tech.name class="" height=50 %}
            </div>
            <div class="s8">
              <h6>{{ tech.name }}</h6>
              {% if tech.description %}
                <p>{{ tech.description }}</p>
              {% endif %}
            </div>
          </div>

        </article>

      </div>
    {% endfor %}
  </div>
</div>