---
layout: default
---
<div class="padding">
  <div class="grid large-space">
    <div class="s12 m12 l6">
      <article class="no-padding round medium">
        <img class="responsive small top-round" src="https://picsum.photos/400/150">
        <div class="padding">
          <h5>Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <nav>
            <button>Button</button>
          </nav>
        </div>
      </article>
    </div>

    <div class="s12 m12 l6">
      <article class="no-padding round medium">
        <img class="responsive small top-round" src="https://picsum.photos/400/150">
        <div class="padding">
          <h5>Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <nav>
            <button>Button</button>
          </nav>
        </div>
      </article>
    </div>

    <div class="s12 m12 l6">
      <article class="no-padding round medium">
        <img class="responsive small top-round" src="https://picsum.photos/400/150">
        <div class="padding">
          <h5>Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <nav>
            <button>Button</button>
          </nav>
        </div>
      </article>
    </div>

    <div class="s12 m12 l6">
      <article class="no-padding round medium">
        <img class="responsive small top-round" src="https://picsum.photos/400/150">
        <div class="padding">
          <h5>Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <nav>
            <button>Button</button>
          </nav>
        </div>
      </article>
    </div>

    <div class="s12 m12 l6">
      <article class="no-padding round medium">
        <img class="responsive small top-round" src="https://picsum.photos/400/150">
        <div class="padding">
          <h5>Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <nav>
            <button>Button</button>
          </nav>
        </div>
      </article>
    </div>
  </div>


</div>