---
layout: default
---
<div class="padding">
  <div class="grid large-space">
    {% for post in paginator.posts %}
      <div class="s12 m12 l6">
        <article class="no-padding round medium">
          <img class="responsive small top-round" src="https://picsum.photos/400/150">
          <div class="padding">
            <h5>{{ post.title }}</h5>
            <p>{{ post.excerpt | format_excerpt: 400 }}</p>
          </div>
        </article>
      </div>
    {% endfor %}
  </div>
  {% if paginator.total_pages > 1 %}
    {% include pager.html %}
  {% endif %}

</div>
