---
layout: default
---

<div class="padding">
  <div class="center-align middle-align">
    <div class="padding">

      <article>
        <img class="responsive large" src="{{ site.data.profile.image }}">
        <div class="padding">
          <h4>{{ site.data.profile.name }}</h4>
          <h5>{{ site.data.profile.occupation }}</h5>
          <p>{{ site.data.profile.location }}</p>
        </div>
      </article>


    </div>


  </div>

  <div class="grid padding">
    {% for tech in site.data.profile.tech_stack %}
      <div class="s12 m6 l3">
        <article>
          <div class="grid no-space center-align middle-align">
            <div class="s4">
              <img class="responsive" src="{{ tech.image }}">
            </div>
            <div class="s8">

              <h6>{{ tech.name }}</h6>
              {% if tech.description %}
                <p>{{ tech.description }}</p>
              {% endif %}
            </div>
          </div>

        </article>

      </div>
    {% endfor %}
  </div>
</div>