---
layout: default
---

<div class="padding">
  <div class="center-align middle-align">
    <div class="padding">

      <article>
        <img class="responsive large" src="https://picsum.photos/200">
        <div class="padding">
          <h4>Chris Mavrommatis</h4>
          <h5>Software Engineer</h5>
          <p>Athens, Greece</p>
        </div>
      </article>


    </div>


  </div>

  <div class="grid padding">

    <div class="s12 m6 l3">
      <article>
        <div class="grid no-space">
          <div class="s4">
            <img class="responsive" src="https://picsum.photos/40">
          </div>
          <div class="s8">
            <div class="padding">

              <h5>React</h5>
            </div>
          </div>
        </div>

      </article>

    </div>

    <div class="s12 m6 l3">
      <article>
        <div class="grid no-space">
          <div class="s4">
            <img class="responsive" src="https://picsum.photos/40">
          </div>
          <div class="s8">
            <div class="padding">

              <h5>React</h5>
            </div>
          </div>
        </div>

      </article>

    </div>

    <div class="s12 m6 l3">
      <article>
        <div class="grid no-space">
          <div class="s4">
            <img class="responsive" src="https://picsum.photos/40">
          </div>
          <div class="s8">
            <div class="padding">

              <h5>React</h5>
            </div>
          </div>
        </div>

      </article>

    </div>

    <div class="s12 m6 l3">
      <article>
        <div class="grid no-space">
          <div class="s4">
            <img class="responsive" src="https://picsum.photos/40">
          </div>
          <div class="s8">
            <div class="padding">

              <h5>React</h5>
            </div>
          </div>
        </div>

      </article>

    </div>

    <div class="s12 m6 l3">
      <article>
        <div class="grid no-space">
          <div class="s4">
            <img class="responsive" src="https://picsum.photos/40">
          </div>
          <div class="s8">
            <div class="padding">

              <h5>React</h5>
            </div>
          </div>
        </div>

      </article>

    </div>

    <div class="s12 m6 l3">
      <article>
        <div class="grid no-space">
          <div class="s4">
            <img class="responsive" src="https://picsum.photos/40">
          </div>
          <div class="s8">
            <div class="padding">

              <h5>React</h5>
            </div>
          </div>
        </div>

      </article>

    </div>

    <div class="s12 m6 l3">
      <article>
        <div class="grid no-space">
          <div class="s4">
            <img class="responsive" src="https://picsum.photos/40">
          </div>
          <div class="s8">
            <div class="padding">

              <h5>React</h5>
            </div>
          </div>
        </div>

      </article>

    </div>

    <div class="s12 m6 l3">
      <article>
        <div class="grid no-space">
          <div class="s4">
            <img class="responsive" src="https://picsum.photos/40">
          </div>
          <div class="s8">
            <div class="padding">

              <h5>React</h5>
            </div>
          </div>
        </div>

      </article>

    </div>

  </div>


</div>